<div class="container mt-5 text-center">
  <div class="card shadow p-5 rounded-4">

    <h3 class="fw-bold mb-3">
      わんちゃんの情報が登録されました！
    </h3>

    <p class="mb-4">
      それではレシピを確認しましょう🐶
    </p>

    <p class="mb-4">
      🐶トッピングレシピになります🐾<br>
      フードと合わせることで必要な栄養を得られます。<br>
      フードの量はレシピの説明に合わせて調整してください。
    </p>

    <%= link_to "レシピを見る",
          recipes_path(dog_id: @dog.id),
          class: "btn btn-warning btn-lg rounded-pill text-white" %>

  </div>
</div>
