<% content_for(:title, "愛犬情報の編集") %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 text-center offset-lg-2">
      <h1><%= @dog.name %>ちゃんの情報を編集</h1>
      
      <%= render 'form', dog: @dog %>
      
  </div>
</div>