<div class="top-container">

  <h1 class="accent">ユーザー情報編集</h1>
  <p class="sub-text">登録情報を変更できます</p>

  <div class="mt-4" style="max-width:400px;margin:auto;">
    <%= render "form", submit_text: "更新する" %>
  </div>

  <%= link_to "戻る", root_path, class:"secondary-button" %>
</div>