<div class="top-container">

  <h1 class="accent">新規登録</h1>
  <p class="sub-text">ワンちゃんのためのレシピ管理を始めましょう</p>

   
   <%= render "form", submit_text: "登録する" %>
   
  <p class="note mt-4">
    すでにアカウントをお持ちですか？
  </p>

  <%= link_to "登録済みの方はこちら", login_path, class:"secondary-button" %><br>
  <%= link_to "戻る", root_path, class:"secondary-button" %>
</div>
