<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright'>
          <p>Copyright © 2026. One Wan Dish</p>
        </div>
      </div>
      <div class="container mx-auto px-4 text-center">
        <%= link_to 'プライバシーポリシー', 
            privacy_policy_path, 
            class: 'mx-2 text-secondary text-decoration-none' %>
        <span class="text-muted">|</span>
        <%= link_to '利用規約', 
            terms_of_service_path, 
            class: 'mx-2 text-secondary text-decoration-none' %>
      </div>
    </div>
  </div>
</footer>